<!-- Call for Proposals Section -->
    <section id="cfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Case Studies</h2>
                        
                            <p class="text-left">
                                To make ICT with Industry 2017 a success, we seek challenging industrially 
                                relevant case studies on ICT topics, applications and tools. 
                                You are invited to submit a proposal for a case study in collaboration with
                                large companies and/or SMEs.

                            </p> 
                            <p class="text-left">
                            <span class="emphasize-text">Benefits for applying companies</span>: 
                            the workshop offers you one week to collaborate 
                            with a team of 6-10 dedicated researchers from various ICT-disciplines to tackle the 
                            problems in your proposed case. The goal is to come to a practical solution or new horizons 
                            with new insights. 
                            </p>
                            <p class="text-left">
                            <span class="emphasize-text">Benefits for applying researchers</span>: 
                                the workshop offers you one week to explore 
                                your research ideas in collaboration with your company partners. You will have a team 
                                of 6-10 dedicated researchers from a various ICT-disciplines to work with. 
                                The goal is to come to concrete ideas which can be used for e.g. scientific papers and 
                                funding proposals to be submitted to NWO or Horizon 2020 calls.   
                            </p>
                            <p class="text-left">
                            <span class="emphasize-text">Selection criteria</span>: 
                            five challenges will be selected by the organizing committee, with leading experts from 
                            different fields of ICT according to their:
                            <ol class="text-left">
                                <li>Is the challenge <span class="emphasize-text">scientifically</span> interesting,
                                particularly from an ICT point of view?</li> 
                                <li>Is the challenge <span class="emphasize-text">urgent</span>?</li>
                                <li>Is it likely that a solution or <span class="emphasize-text">significant</span> steps towards a 
                                solution to the challenge can be obtained within the timeframe of one week?</li>
                                <li>Can you <span class="emphasize-text">commit</span> to your involvement during the workshop?</li> 
                            </ol>
                            </p>
                            <p class="text-left">
                                The full call for case studies is available in 
                                <a href="../ictwithindustry-2017.pdf">PDF format</a>. The call overview also contains the application
                                form which should be send to <a href="mailto:ictwithindustry@nwo.nl">ictwithindustry@nwo.nl</a>/.
                            </p>
                    </div>
                </div>
            </div>
    </section>
