<!-- Call for Participation Section -->
    <section id="cfpa">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Participation</h2>
                        
                            <p class="text-left">
                                During five days some fifty researchers from information technology and 
                                computer science from a wide range of universities within the Netherlands 
                                and Europe will work work together extensively on challenging problems 
                                proposed by our industry partners. 
                            </p> 
                            <p class="text-left">
                                Are you a PhD student or a Postdoc and interested in this week-long
                                challenge? Apart from a challenging task, you will also be able to network,
                                discuss your ideas and create collaborations.
                            </p>
                            <p class="text-left">
                            This year, we have four case studies:<br>
                                <ul class="center-left">
                                    <li><a href="https://www.triodos.nl/nl/over-triodos-bank/">Triodos Bank</a>: An eco-system for a multi-company blockchain with an alternative currency (<a href="http://ictwithindustry2017.nl/ICTwI_Triodos.pdf">Find out more [PDF] ...</a>)</li>
                                    <li><a href="https://blendle.com/">Blendle</a>: Personalized news selection (<a href="https://research.blendle.io/collaborations/ict-with-industry-2017/">Find out more ...</a>)</li>
                                    <li><a href="http://www.esi.nl/">TNO-ESI</a> and <a href="http://oce.com/">Océ</a>: Architecting support using system architecture knowledge graphs and expert systems (<a href="http://ictwithindustry2017.nl/ICTwI_TNO_OCE.pdf">Find out more [PDF] ...</a>)</li>
                                    <li><a href="http://www.i3b.org/">ICT for Brain, Body &amp; Behavior (Eagle Vision)</a>: Deep learning for visual verification (<a href="http://ictwithindustry2017.nl/ICTwI_I3B.pdf">Find out more [PDF] ...</a>)</li>
                                </ul>
                            </p>
                            <p class="text-left">
                                Here are some impressions from last year (taken at the Lorentz Center):
                            </p>
                            <p>
                                <img src="images/ict2016_1.jpg" class="imgImpression"> 
                                <img src="images/ict2016_2.jpg" class="imgImpression"> 
                                <img src="images/ict2016_3.jpg" class="imgImpression"> 
                                <img src="images/ict2016_4.jpg" class="imgImpression"> 
                                <img src="images/ict2016_5.jpg" class="imgImpression"> 
                            </p>
                    </div>
                </div>
            </div>
    </section>
