<!-- Call for Participation Section -->
    <section id="cfpa">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Participation</h2>
                        
                            <p class="text-left">
                                During five days some fifty researchers from information technology and 
                                computer science from a wide range of universities within the Netherlands 
                                and Europe will work work together extensively on challenging problems 
                                proposed by our industry partners. 
                            </p> 
                            <p class="text-left">
                            <span class="emphasize-text">
                                Are you a PhD student or a Postdoc and interested in this week-long
                                challenge? Apart from a challenging task, you will also be able to network,
                                discuss your ideas and create collaborations.
                            </p>
                            <p class="text-left">
                            <span class="emphasize-text">This year, we have four case studies:<br>
                                <ul>
                                    <li><a href="https://www.triodos.nl/nl/over-triodos-bank/">Triodos Bank</a>: An eco-system for a multi-company blockchain with an alternative currency</li>
                                    <li><a href="https://blendle.com/">Blendle</a>: A personalized news selection</li>
                                    <li><a href="http://www.esi.nl/">TNO-ESI</a> and <a href="http://oce.com/">Océ</a>: Architecting support using system architecture knowledge graphs and expert systems</li>
                                    <li><a href="http://www.i3b.org/">ICT for Brain, Body &amp; Behavior</a>: machine learning for industrial inspection</li>
                                </ul>
                            </p>
                    </div>
                </div>
            </div>
    </section>
