<!-- Registration Section -->
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                    <p>
                        The registration link for the workshop can be found on the <a href="http://www.lorentzcenter.nl/lc/web/2017/952/info.php3?wsid=952&venue=Oort">Lorentz Center overview page</a> for this workshop.
                        <br>
                        During the registration process you will have a chance to indicate which use case specifically is of interest for you. The Lorentz Center will take care of the accomodation (if you wish) for you. 
                     </p>
                </div>
            </div>
        </div>
    </section>
